<div
  class="banner"
  [ngStyle]="{ 'background-image': 'url(' + currentImage + ')' }"
>
  <nav class="navbar navbar-expand-lg main-nav">
    <div class="dark-overlay2"></div>
    <div class="container-fluid">
      <img src="../assets/logo-1.svg" alt="Microsoft" class="logo" />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li style="margin-left: 10px" class="nav-item">
            <a href="">Home</a>
          </li>
          <li class="nav-item">
            <a href="#to-about">About us</a>
          </li>
          <li class="nav-item"><a href="#services">Services</a></li>
          <li class="nav-item"><a href="#home3">Case Studies</a></li>
          <li class="nav-item"><a href="#blogs">Blog</a></li>
          <li class="nav-item"><a href="#foot">Contact</a></li>
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-secondary" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>

  <div class="dark-overlay"></div>
</div>

<div class="head">
  <h1>ABOUT HYAS</h1>
  <h4>
    Protecting businesses and solving intelligence problems through detection of
    adversary infrastructure and anomalous communication patterns.
  </h4>
</div>

<div class="container-fluid abt">
  <h5>
    HYAS is a world-leading authority on cyber adversary infrastructure and
    communication to that infrastructure. HYAS is dedicated to protecting
    organizations and solving intelligence problems through detection of
    adversary infrastructure and anomalous communication patterns. We help
    businesses see more, do more, and understand more in real time about the
    nature of the threats they face. HYAS turns meta-data into actionable threat
    intelligence, actual adversary visibility, and protective DNS that renders
    malware inoperable.
  </h5>
  <h1>OUR VISION AND MISSION</h1>
  <ul>
    <li>
      <h5 style="padding: 10px">
        <i class="fa-solid fa-circle fa-2xs"></i><span> &nbsp;&nbsp;</span>Our
        vision is to be the leading provider of confidence and cyber security
        that today’s businesses need to move forward in an ever-changing data
        environment.
      </h5>
    </li>
    <li>
      <h5 style="padding: 10px; padding-bottom: 30px">
        <i class="fa-solid fa-circle fa-2xs"></i><span> &nbsp;&nbsp;</span>Our
        mission is to thwart cyber attacks before they happen. Let’s move over,
        under, around, and, if necessary, straight through any bad actors who
        choose to stand in the way of progress.
      </h5>
    </li>
  </ul>
</div>

<!-- ...service -->

<div class="service" id="services">
  <section id="network">
    <hr />
    <h2>Polymorphic, Intelligent and Fully Autonomous Malware</h2>
    <p>
      As part of our continuing research, HYAS Labs release EyeSpy, a
      proof-of-concept (PoC) for an entirely new type of AI-synthesized,
      polymorphic, and fully autonomous malware. The malware utilizes artificial
      intelligence to make informed decisions and synthesize its capabilities as
      needed to conduct cyberattacks and continuously morph to avoid detection.
      This malware isn’t just a program—it is an adaptive entity with evolving
      strategies, making it an ever-present, dynamic threat that evades
      detection. As experts in adversary threat infrastructure, HYAS recognizes
      that the next generation of attack infrastructure is going to be fully
      AI-synthesized, polymorphic attack frameworks. We are accelerating work on
      technology we will need to defend against the next generation of cyber
      warfare to ensure our leading adversary infrastructure platform will be
      able to detect and protect against not just today’s attacks but tomorrow’s
      as well.
    </p>
  </section>

  <section id="development">
    <hr />
    <h2>AI-Generated Polymorphic Malware</h2>
    <p>
      HYAS Labs introduced the BlackMamba proof-of-concept (PoC) that shows
      large language models (LLMs) can be exploited to synthesize polymorphic
      keylogger functionality on-the-fly, making it difficult for EDR to
      intervene. This PoC exploits a large language model to synthesize
      polymorphic keylogger functionality on-the-fly, dynamically modifying the
      benign code at runtime and all without any command-and-control
      infrastructure to deliver or verify the malicious keylogger functionality.
      This technique runs unimpeded by EDR intervention. We call this PoC
      BlackMamba.
    </p>
  </section>

  <section id="cybersecurity">
    <hr />
    <h2>HYAS Protect At Home</h2>
    <p>
      HYAS Protect is an industry-leading protective DNS solution specifically
      designed to detect, block, and protect organizations from threats like
      phishing, malware, and ransomware. Many organizations around the world use
      HYAS Protect as both an early warning signal and the last line of defense
      for network protection. Protect your home network and benefit from
      enterprise-grade protections with our limited free package. And you can
      kick the tires to see how HYAS Protect would perform in your corporate
      environment … all without the coordination, delays, and official approvals
      that may be needed to do a formal trial at the office.
    </p>
  </section>
</div>

<!-- ...team -->
<h1 style="font-size: 350%; padding-left: 3%">
  <span style="font-weight: 300">Management</span> Team
</h1>
<section class="home-cards" style="background-color: rgba(115, 2, 2, 0.943)">
  <div class="card">
    <div class="text-center">
      <img src="../../../assets/team-1.webp" alt="" />
    </div>
    <h3>David Ratner Ph.D.</h3>
    <h6>CEO</h6>
    <h6>
      David leads the long-term vision for HYAS and the day to-day mission to
      bring confidence to HYAS clients. His career spans various areas of
      software and technology, from writing code for some of the first and
      largest mobile and messaging systems to scaling, growing, and exiting
      multiple venture-backed, private-equity-owned, and public software
      companies.
    </h6>
  </div>
  <div class="card">
    <div class="text-center">
      <img
        style="border-radius: 50%"
        src="../../../assets/team-2.webp"
        alt=""
      />
    </div>
    <h3>Paul van Gool Ph.D.</h3>
    <h6>SVP of Engineering</h6>
    <h6>
      As head of the engineering team at HYAS, Paul leads the development,
      release, and support for all HYAS products. He holds a Ph.D. in Aerospace
      Engineering and spent several years in the defense industry working on
      large-scale distributed simulation systems.
    </h6>
  </div>
  <div class="card">
    <div class="text-center">
      <img
        style="border-radius: 50%"
        src="../../../assets/team-3.webp"
        alt=""
      />
    </div>
    <h3>Michael Barker</h3>
    <h6>Chief Commercial Officer</h6>
    <h6>
      Mike drives sales and marketing at HYAS. His career started with the U.S.
      Air Force and has advanced into senior leadership positions across sales,
      marketing, and operations. He has helped scale several leading tech
      organizations including Juniper Networks, Extreme Networks, and
      cybersecurity firm OPSWAT.
    </h6>
  </div>
  <div class="card">
    <div class="text-center">
      <img
        style="border-radius: 50%"
        src="../../../assets/team-4.webp"
        alt=""
      />
    </div>
    <h3>Melissa Blanchard</h3>
    <h6>Chief Operations Officer</h6>
    <h6>
      Melissa runs the core business needs across Finance, HR, Legal, and
      Operations. Her expertise is leading high-performance teams in multiple
      countries, with an emphasis on new program development and corporate
      culture high-growth environments.
    </h6>
  </div>
  <div class="card">
    <div class="text-center">
      <img
        style="border-radius: 50%"
        src="../../../assets/team-5.webp"
        alt=""
      />
    </div>
    <h3>Dave Mitchell</h3>
    <h6>Chief Technology Officer</h6>
    <h6>
      Dave is responsible for the technical vision at HYAS. His experience as
      both a team player and entrepreneur is first class. He helped build and
      secure web-scale networks, including TWTelecom, Yahoo!, and Twitter. He
      also founded Singularity Networks, which was acquired by Cisco in 2019.
    </h6>
  </div>
  <div class="card">
    <div class="text-center">
      <img
        style="border-radius: 50%"
        src="../../../assets/team-6.webp"
        alt=""
      />
    </div>
    <h3>Chris Needs</h3>
    <h6>VP Product Management</h6>
    <h6>
      Chris leads the product management and user experience team at HYAS. He is
      responsible for the platform strategy, product-market fit, and overall
      roadmap of HYAS products. Chris is an accomplished product leader with
      deep experience in intelligence management, security automation, incident
      response, and threat detection
    </h6>
  </div>
</section>

<!-- ...community -->
<h1 style="font-size: 350%; padding-left: 3%">
  <span style="font-weight: 300">Community</span> Involvement
</h1>
<div class="service">
  <section class="initiative">
    <h2>Threat Intelligence Sharing</h2>
    <p>
      At HYAS, we actively participate in threat intelligence sharing
      communities where cybersecurity professionals collaborate to share
      information about emerging threats, tactics, techniques, and procedures
      (TTPs). Our goal is to contribute to the collective defense by sharing
      real-time insights and staying informed about evolving cyber threats.
    </p>
  </section>

  <section class="initiative">
    <h2>Workshops and Webinars</h2>
    <p>
      We organize workshops and webinars to educate the cybersecurity community
      about the latest trends in threat intelligence, attribution, and cyber
      defense. Our experienced professionals share their knowledge and insights,
      helping participants gain a deeper understanding of the ever-changing
      threat landscape and effective defense strategies.
    </p>
  </section>

  <section class="initiative">
    <h2>Research and Publications</h2>
    <p>
      HYAS is committed to contributing to the cybersecurity industry's
      knowledge base. Our research papers, case studies, and reports provide
      valuable insights into threat intelligence, cyber attribution, and best
      practices in cyber defense. By sharing our findings, we aim to help
      organizations and professionals better understand and combat evolving
      cyber threats.
    </p>
  </section>
</div>

<!-- ..stories -->

<!-- Footer-->
<section class="links" id="foot">
  <div class="links-inner">
    <ul>
      <div class="d-flex" style="gap: 10px">
        <li><img src="../assets/logo-1.svg" alt="" /></li>
        <p>
          No matter how or why malware gets into your network, the HYAS
          Adversary Infrastructure Platform can detect, identify, and block it
          before an attack can occur.
        </p>
      </div>

      <h6 style="margin-top: 10px">123 Tech Street</h6>
      <h6>Cityville, IT 12345</h6>
      <h6>Phone: +1 (123) 456-7890</h6>
      <h6>Email: info@hyastechnologies.com</h6>
      <br />
      <a href="https://facebook.com">
        <img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook" /> </a
      >&nbsp;
      <a href="https://twitter.com">
        <img
          src="https://i.ibb.co/vJvbLwm/social-twitter.png"
          alt="Twitter"
        /> </a
      >&nbsp;
      <a href="https://linkedin.com">
        <img
          src="https://i.ibb.co/b30HMhR/social-linkedin.png"
          alt="Linkedin"
        /> </a
      >&nbsp;
      <a href="https://linkedin.com">
        <img
          style="height: 30px; width: 30px"
          src="../assets/instagram.png"
          alt="Linkedin"
        />
      </a>
    </ul>
    <ul>
      <span style="font-size: 50px" class="footer-cat">Stay Connected</span>
      <form id="subscribe" style="margin-top: 20px">
        <input
          style="height: 45px"
          type="email"
          id="subscriber-email"
          placeholder="Enter Email Address"
        />
        <button type="button" class="btn btn-outline-danger">Subscribe</button>
      </form>
    </ul>
  </div>
</section>
